html, body {
    margin: 0;
}
body {
    background-color: rgb(111, 5, 156);;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(238, 0, 178);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(218, 167, 256);
    padding: 10px 20px 0px;
}

.menu ul li a {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.header {
    background-color: rgb(218, 167, 256);
    min-height: 150px;
}
.content {
    background-color: rgb(111, 5, 156);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(218, 167, 256);
    min-height: 150px;
}